* {
    margin: 0;
    box-sizing: border-box;
}


#container {
    /* width: 1440px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 1440px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 60px;
}

.left-items {
    display: flex;
    justify-content: space-around;
    margin-right: 90px;
}

.right-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.shop-item a,
.offers-item a,
.Ourstory-item a,
.blog-item a {
    text-decoration: none;
    color: #424955;
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
    margin-right: 10px;
}

.search-item,
.cart-item,
.avatar-item {
    margin-right: 15px;
    font-size: 16px;
}

.search-item,
.cart-item {
    top: 8px;
}

.cart-item a {
    text-decoration: none;
    color: #424955;
    font-size: 16px;
    font-weight: 600;
    padding: 0 2px;
}

.search-item input {
    border-color: #424955;
    border-width: 1px;
    padding: 6px 8px;
    border-radius: 5px;
}

/* Panel */
.title-panel{
    width: 1440px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 60px;
}

.panel{
    display: flex;
    justify-content: center;
    border: 1px solid #424955;
    border-radius: 10px;
    margin-bottom: 60px;
    box-sizing: border-box;
}

.panel-content{
    width: 618px;
    position: relative;
    padding: 30px 60px;
    
}

.panel-third{
    position: relative;
}

.panel-content-absolute{
    position: absolute;
    width: 46%;
    left: 54%;
    top: 20%;
}



.panel-image img{
    width: 100%;
    height: 100%;
}

.panel-content h2,
.panel-content p{
    margin-bottom: 10px;
}

.panel-content button{
    border: none;
    width: 200px;
    height: 50px;
    background-color: #459d7a;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

.panel-content button:hover{
    opacity: 0.8;
    cursor: pointer;
}

/* Footer */

.footer{
    display: flex;
    justify-content: space-between;
    width: 1440px;
    background-color: #1d2128;
}

.address-info{
    display: flex;
    margin: 80px 0 100px 80px

}

.about-info,
 .help-info,
 .contact-info{
    display: flex;
    flex-direction: column;
    margin-right: 60px;
    color: #d0d3d9 ;
}

.about-info a,
.help-info a,
.contact-info a{
    color: #d0d3d9 ;
    text-decoration: none;
    padding: 10px 10px;
}

.about-info select{
    font-size: 16px;
    background-color: #1d2128;
    color: #d0d3d9;
    border-width: 2px;
    padding: 4px;
    border-radius: 8px;
}

.social-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #d0d3d9;
    margin: 80px 100px 80px 0;
}

.send-info{
    border: 1px solid #d0d3d9;
    border-radius: 10px;
}

.send-info input{
    font-size: 20px;
    padding: 8px;
    border: none;
    background-color: #1d2128;
    color: #d0d3d9;
}

.send-info button{
    border: none;
    width: 100px;
    height: 50px;
    background-color: #459d7a;
    border-radius: 10px;
    color: #d0d3d9;
    font-size: 20px;
    font-weight: 500;
}

.send-info button:hover{
    cursor: pointer;
    opacity: 0.8;
}
.send-info i{
    margin-left: 20px;
}

.social-link a{
    font-size: 20px;
    padding: 10px 4px;
    color: #d0d3d9;
    text-decoration: none;
}

.policy-info{
    text-align: center;
}

.policy-info a{
    text-decoration: none;
    color: #d0d3d9;
    padding: 0 4px;
}



